body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::placeholder {
  font-size: 14px;
}
.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
  font-size: 14px;
  text-transform: capitalize;
}
